


.container-games{
    background: rgb(21,21,21);
    display: flex;

}

.RowText {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 45px;
    color: #fff;
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
}
