



.search__container{
    display: flex;
    margin-left: 6%;
}

.search__button{
    margin-left: 20px;
}

.search__button-top{
    font-size: 17px;
    font-weight: bold;
    color: white;
}


.search__input{
    --button_radius: 2em;
    --button_color: hsla(0,0%,100%,.16);
    --button_outline_color: #fff;
    width: 1400px;
    font-size: 14px;
    font-weight: 400;
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    color: hsla(0,0%,100%,.6);
    border: none;
    background: var(--button_color);
    -webkit-transition: color .3s,background-color .3s,opacity .3s;
    transition: color .3s,background-color .3s,opacity .3s;
}
.search__input:hover{
    color: #000;
    opacity: 1;
    border: none;
    background-color: #fff;
}


.search__input:focus{
    outline:none;
    border:none;
}


.container-games{
    background: rgb(21,21,21);
}

.RowText {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 45px;
    color: #fff;
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
}
