.container-games{
    width: 70vw;
    height: auto;
    display: flex;

}
.container-games img{
    width: 300px;
    height: 200px;
    background-color:#112240;
    margin: 40px;
    display: inline-block;
    min-width: 10px;

    box-shadow: 0px 5px 15px rgba(0,0,0 ,0.5);
    text-align: center;
}
