*{
box-sizing: border-box;
}



body {
    margin: 0;
}

.nav {
    background-color: rgb(21,21,21);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
    align-items: center;
}

.nav a {
    color: inherit;
}
.nav img {
    width: 80px;
    height: 80px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;

}

.nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.nav__el--login,.nav__el--join, .search__button, .add_game__button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #333;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.nav__el--login-top, .nav__el--join-top, .search__button-top, .add_game__button-top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.nav__el--login:hover .nav__el--login-top,.nav__el--join:hover .nav__el--join-top:hover, .search__button:hover,.search__button-top:hover
,.add_game__button:hover, .add_game__button-top:hover{
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.nav__el--login:active .nav__el--login-top, .nav__el--join:active, .nav__el--join-top:active, .search__button:active,.search__button-top:active
,.add_game__button:active, .add_game__button-top:active{
    /* Push the button downwards when pressed */
    transform: translateY(0);
}
