
.games h1{
    color:white;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;

}



.gameList {
    margin-top: 20px;
    width: 99vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}


.gameItem {
    border-radius: 15px;
    width: 350px;
    height: 300px;
    background-color:rgb(21,21,21);
    margin: 20px;
    display: inline-block;

    min-width: 10px;

    box-shadow: 0px 5px 15px rgba(0,0,0 ,0.5);
    text-align: center;
    transition: all 0.3s;
}

.gameItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}


.gameItem .bgImage {
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;


}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

@media only screen and (max-width: 1300px) {
    .gameList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .gameList {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .gameList {
        width: 100%;
    }
    .gameItem {
        width: 300px;
        height: 300px;
    }
}

